
formation-jpa/\.settings/

formation-jpa/\.classpath

formation-jpa/\.project

formation-model/\.settings/

formation-model/\.classpath

formation-model/\.project

formation-jpa/target/
